.note-app {
  padding-bottom: calc(var(--size) * 12);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: 100%;
}

.note-app__body {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 540px;
  width: 95%;
  margin: auto;
  padding-block: calc(var(--size) * 3);
}
