.navbar {
  margin-inline: auto;
  display: flex;
  align-items: end;
  border-bottom: 1px solid var(--secondary-bg-color);
  justify-content: center;
  margin-bottom: calc(var(--size) * 3.5);
  padding-bottom: calc(var(--size) * 3);
  gap: calc(var(--size) * 2.5);
  flex-wrap: wrap;
}

.navbar__title {
  margin: 0;
  flex: 1;
  height: calc(var(--size) * 7.5);
  font-size: calc(var(--size) * 7);
  color: var(--main-text-color);
}

.navbar__title a:hover {
  text-decoration: none;
}

.navbar__title span {
  font-size: calc(var(--size) * 3);
}

.navbar__links {
  display: flex;
  gap: var(--size);
  font-weight: bold;
}

.navbar__link {
  color: var(--secondary-text-color);
  list-style: none;
}

.navbar__link:hover {
  color: var(--main-text-color);
}

.navbar__link a {
  padding-inline: calc(var(--size) * 1.5);
}

.navbar__toggle-wrapper {
  display: flex;
  gap: var(--size);
}

.navbar__toggle {
  padding: calc(var(--size) / 1.5);
  font-size: calc(var(--size) * 4);
  background-color: var(--secondary-bg-color);
  border-radius: calc(var(--size));
  height: calc(var(--size) * 6);
  width: calc(var(--size) * 6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
